
@{
    ViewBag.Title = "Add_Property";
}

<h2>Add_Property</h2>
<div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li>@Html.ActionLink("Add Property", "Add_Property", "Search", new { area = "" }, new { @class = "nav-link" })</li>
    </ul>
</div>
